<DOCTYPE html>

    <html>
        <head>
            <link type="text/css" rel="stylesheet" href="/layout1.css" />
            <title>Trevor Greenside | Blog</title>
        </head>
        <body>
            <!-- previous posts retreived from database and posted here -->
            <a href = '/'><div id="top_image">
                </div></a>
            <div id="main_page">
                <div class="sidebar">
                    <ul>
                        <li>About Me</li>
                        <li><a href='/resume'>Resume</a></li>
                        <li><a href='/resume'>Blog</a></li>
                    </ul>
                </div>	
                <div class="main_body">
                    <h3>About Me</h3>

                </div>
            </div>
        </body>
    </html>