<DOCTYPE html>

    <html>
        <head>
            <link type="text/css" rel="stylesheet" href="/layout1.css" />
            <title>Trevor Greenside | Blog</title>
        </head>
        <body>
            <!-- previous posts retreived from database and posted here -->
            <a href = '/'><div id="top_image">
                </div></a>
            <div id="main_page">
                <div class="sidebar">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>About Me</li>
                        <li><a href='/resume'>Resume</a></li>
                        <li><a href='/resume'>Blog</a></li>
                    </ul>
                </div>	
                <div class="main_body">
                    <img src='/pics/about_pic.jpg' style="width:180px;height:180px;"
                         align="left"/>
                    <h3>About Me</h3>
                    <p>I'm from Roseville, CA. I enjoy rock climbing, cooking, reading, and watching
                        movies. My favorite movie is The Godfather, and my favorite book is Atlas
                        Shrugged.</p>
                    <p>I have two sisters and a brother, all of whom I am very proud. I am also happily 
                        engaged to the wonderful Alyssa Cink. The background image here is courtesy of my
                        beloved fiancé.</p>
                </div>
            </div>
        </body>
    </html>