<DOCTYPE html>

    <html>
        <head>
            <link type="text/css" rel="stylesheet" href="/static/layout1.css" />
            <title>Trevor Greenside | Home on the Web</title>
        </head>
        <body>
            <div id="top_image">
            </div>
            <div id="main_page">
                <div class="sidebar">
                    <ul>
                        <li><a href="/about">About Me</a></li>
                        <li><a href="/resume">Resume</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>	
                <div class="main_body">
                    <h3>Create Blog Acct</h3>
                    <p>Enter credentials here.</p>
                    <form method="post">
                        Username: <input type="text" name="username"><br>
                        Password: <input type="password" name="userpass"><br>
                        Re-enter Password: <input type="password" name="userpass2"><br>
                        10-digit Key: <input type="text" name="acctKey"><br>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
        </body>
    </html>