<DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/layout1.css" />
		<title>Trevor Greenside | Home on the Web</title>
	</head>
	<body>
		<div id="top_image">
		</div>
		<div id="main_page">
			<div class="sidebar">
				<ul>
					<li><a href="/about">About Me</a></li>
					<li><a href="/resume">Resume</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</div>	
			<div class="main_body">
				<h3>Trevor Greenside</h3>
				Email: <a href="mailto:tgreenside@zagmail.gonzaga.edu">tgreenside@zagmail.gonzaga.edu</a><br>
				Phone: (916) 847-9537<br>
				<p>Welcome to my website!  Here I will be blogging about projects and providing a public view of my work and research.  Please refer to the side bar to see what I've put up here.  For questions or comments, please don't hesitate to email me.</p>
				<p>I am currently looking for internship or research opportunities in the area of Computer Security for the summer of 2018.</p>
			</div>
		</div>
	</body>
</html>