<DOCTYPE html>

    <html>
        <head>
            <link type="text/css" rel="stylesheet" href="/layout1.css" />
            <title>Trevor Greenside | Resume</title>
        </head>
        <body>
            <!-- previous posts retreived from database and posted here -->
            <div id="top_image">
            </div>
            <div id="main_page">
                <div class="sidebar">
                    <ul>
                        <li><a href="/about">About Me</a></li>
                        <li>Resume</li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>	
                <div class="main_body">
                    <h3>Resume</h3>
                    <h5>Education</h5>
                    <ul>
                        <li>Institution: Gonzaga University</li>
                        <li>Graduation: May 2019</li>
                        <li>Major: Computer Science</li>
                        <li>Minor: Economics</li>
                    </ul>
                </div>
            </div>
        </body>
    </html>