<DOCTYPE html>

    <html>
        <head>
            <link type="text/css" rel="stylesheet" href="/layout1.css" />
            <title>Trevor Greenside | Resume</title>
        </head>
        <body>
            <a href="/">
                <div id="top_image">
                </div>
            </a>
            <div id="main_page">
                <div class="sidebar">
                    <ul>
                        <li><a href="/about">About Me</a></li>
                        <li>Resume</li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>	
                <div class="main_body">
                    <h3>Resume</h3>
                    <h5>Education</h5>
                    <ul>
                        <li>Institution: Gonzaga University</li>
                        <li>Graduation: May 2019</li>
                        <li>Major: Computer Science</li>
                        <li>Minor: Economics</li>
                    </ul>
                    <h5>Work / Research Experience</h5>
                    <ul>
                        <div class="entry">
                            <h6>REU Student, Oregon State University</h6>
                            <ul>
                                <li>Corvallis, OR    June 2017 – August 2017</li>
                                <li>REU student, responsible for configuring two Autonomous Underwater Vehicles to communicate via acoustics and performing tests on range limits and message constraints</li>
                                <li>Wrote tutorial documents on how to use the Acoustic software</li>
                                <li>Designed and conducted field tests using the communication hardware</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </body>
    </html>