html {
    position: relative;
    background-image: url("/static/pics/yosemite.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto
}

body {
    
}

.main_body {
    position: absolute;
    background-color: white;
    width: 800px;
    margin-left: 230px;
    padding: 10px
}

.sidebar {
    position: absolute;
    background-color: green;
    width: 200px;
}

.post {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.post p {
    padding: 10px;
}

textarea {
    height: 250px;
    width:600px;
    margin-left: auto;
    margin-right: auto;
}

#top_image {
    height: 200px;
    width: 100%;
}